body {
    font-family: 'Hepta Slab', serif;
    margin:auto;
    width:80%;
    background-color: darkgray;
}


div {
    padding: 10px 10px 10px 10px;
}

fieldset {
  border-color: black;
  margin-top: 20px;
  padding: 20px;
}

fieldset button {
  display: inline-block;
}

h4 {
  margin-top: 0px;
}

.errorBox {
    padding: 10px 0px 10px 10px;
    background-color: #f73b31;
    color:white;
    display:block;
    border-style: 1px dotted;
    margin-bottom:1em;
}

.error {
    background-color:red;
}


.hidden {
    opacity: 0;
    height:0px;
    overflow:hidden;
}

.visible {
    height:auto;
    transition: all 0.5s ease-in-out;
    opacity:1;
}

.wrapper {
    display: flex;
  }
  
.left {
    flex: 0 0 45%;
  }
  
.right {
    flex: 2 25%;
  }

.center{
  flex: 1 30%;
}

.loading {
  background-image: url('../img/ajax-loader.gif');
  background-repeat: no-repeat;
}

.wxLeft {
  flex: 0 33%;
}

.wxCenter {
  flex: 1 33%;
}

.wxRight {
  flex: 2 33%;
}

.banner {
  text-align: center;
  display: block;
}

#digitalClock {
  font-size: 2em;
  background-color: black;
  color: white;
}

/* the following 2 styles are for the range slider */
input[type=range]::-webkit-slider-runnable-track{
  background-color: rgb(116, 49, 49);
  border-radius: 20px;
}

/* for mozilla styling */
input[type=range]::-moz-range-track{
  background-color: rgb(116, 49, 49);
  border-radius: 20px;
  
}
 