body {
    font-family: 'Hepta Slab', serif;
    margin:auto;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 80%;
    height: 100vh;
    background-color: rgb(226, 215, 215);
    padding-bottom: 20px;
}

#pageWrapper{
  margin: 0 auto;
  background-color: rgb(207, 196, 189);
  box-shadow: 0px 1px 10px 1px black;
}


div {
    padding: 10px 10px 10px 10px;
    margin-bottom: 0px;
}

fieldset {
  border-color: black;
  box-shadow: 0px 2px 3px 3px black;
  margin-top: 20px;
  padding: 20px;
}

legend {
  background-color: rgb(207, 196,189);
  font-weight: bold;
}

fieldset button {
  display: inline-block;
}

h1 {
  font-size: 2.2rem;
  text-align: center;
  margin-top: 0px;
  padding-top: 30px;
}

h4 {
  margin-top: 0px;
}

footer {
  text-align: center;
  font-size: 0.75em;
  border-top: 1px solid black;
  padding: 15px 0px;
}

.errorBox {
    padding: 10px 0px 10px 10px;
    background-color: #f73b31;
    color:white;
    display:block;
    border-style: 1px dotted;
    margin-bottom:1em;
}

.error {
    background-color:red;
}


.hidden {
    opacity: 0;
    height:0px;
    overflow:hidden;
}

.visible {
    height:auto;
    transition: all 0.5s ease-in-out;
    opacity:1;
}

.wrapper {
    display: flex;
    padding-bottom: 20px;
  }
  
.left {
    flex: 0 0 45%;
  }
  
.right {
    flex: 2 40%;
  }

.center{
  flex: 1 15%;
}

.loading {
  background-image: url('../img/ajax-loader.gif');
  background-repeat: no-repeat;
}

.wxLeft {
  flex: 0 33%;
}

.wxCenter {
  flex: 1 33%;
}

.wxRight {
  flex: 2 33%;
}

.banner {
  text-align: center;
  display: block;
}

#digitalClock {
  font-size: 2em;
  background-color: black;
  max-width: 60%;
  color: white;
}

#dayClear {
  background-image: url("../images/Optimized-sunshine.jpg");
  background-repeat: none;
  background-size: cover;
}

#nightClear {
  background-image: url("../images/Optimized-night.jpg");
  background-repeat: none;
  background-size: cover;
  color: whitesmoke;
}

#rain {
  background-image: url("../images/Optimized-rain.jpg");
  background-repeat: none;
  background-size: cover;
}

#clouds {
  background-image: url("../images/Optimized-cloudy.jpg");
  background-repeat: none;
  background-size: cover;
}

/* the following 2 styles are for the range slider */
input[type=range]::-webkit-slider-runnable-track{
  background-color: rgb(116, 49, 49);
  border-radius: 20px;
}

/* for mozilla styling */
input[type=range]::-moz-range-track{
  background-color: rgb(116, 49, 49);
  border-radius: 20px;
  
}
 